[submodule "components/esp32-akri"]
	path = components/esp32-akri
	url = https://github.com/nubificus/esp32-akri.git
[submodule "components/ota-service"]
	path = components/ota-service
	url = https://github.com/nubificus/ota-service.git
[submodule "components/esp-nn"]
	path = components/esp-nn
	url = https://github.com/espressif/esp-nn.git
