[submodule "components/sources/tflite-micro-esp-examples"]
	path = components/sources/tflite-micro-esp-examples
	url = https://github.com/espressif/tflite-micro-esp-examples
[submodule "components/esp32-akri"]
	path = components/esp32-akri
	url = git@github.com:nubificus/esp32-akri.git
[submodule "components/ota-service"]
	path = components/ota-service
	url = git@github.com:nubificus/ota-service.git
